@font-face {
	font-family: 'Bradford';
	src: url(/assets/fonts/AnyConv.com__BradfordLL-Light.eot);
	src: url(/assets/fonts/AnyConv.com__BradfordLL-Light.ttf) format('ttf'),
	url(/assets/fonts/AnyConv.com__BradfordLL-Light.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

$size-base: 1rem;

$font-family: Bradford, Helvetica, serif;
$font-size-base: $size-base * 0.9;

$color-primary: black;

$breakpoint-sm: 640px; // => @media (min-width: 640px) {
$breakpoint-md: 768px; // => @media (min-width: 768px) {
$breakpoint-lg: 1024px; // => @media (min-width: 1024px) {
$breakpoint-xl: 1280px; // => @media (min-width: 1280px) {

$padding-default: 1rem;

:root {
	--footer-height: 56px;
	--header-height: 56px;
}